:root {
  --header-bg: rgb(246, 250, 253);
  --primary-color: rgb(0, 163, 163);
  --secondary-color: rgb(204, 202, 202);
  --third-color:  rgb(231, 230, 230);
  --fourth-color: rgba(0, 0, 0, 0.5);
  --fifth-color: rgb(204, 202, 202);
  --sixth-color: rgb(223, 223, 223);
  --highlight: rgba(255, 248, 218, 0.801);
}

:root.light {
  --header-bg: rgb(246, 250, 253);
  --primary-color: rgb(0, 163, 163);
  --secondary-color: rgb(204, 202, 202);
  --third-color:  rgb(231, 230, 230);
  --fourth-color: rgba(0, 0, 0, 0.644);
  --fifth-color: rgb(204, 202, 202);
  --sixth-color: rgb(223, 223, 223);
  --highlight: rgba(255, 248, 218, 0.801);
}

:root.dark {
  --header-bg: rgb(63, 63, 63);
  --primary-color: rgb(1, 218, 218);
  --secondary-color: rgb(204, 202, 202);
  --third-color:  rgb(231, 230, 230);
  --fourth-color: rgba(255, 255, 255, 0.89);
  --fifth-color: rgb(204, 202, 202);
  --sixth-color: rgb(61, 61, 61);
  --highlight: rgba(255, 248, 218, 0.801);
}


body {
  min-height: 100vh;
  max-height: 100%;
  max-width: 100%;
  margin: 2px;;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(10, 10%);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  cursor: default;
}

h1 {
  font-size: 42px;
  letter-spacing: -0.080em;
  display: flex;
  font-weight: bolder;
}

p {
  font-size: 20px;
}

i {
  color: var(--fourth-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 236);
  padding: 4%;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.taskContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 2%;
  position: relative; 
}

.taskContainerEdit {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 8%;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%; 
  height: 40%; 
}

#break-line {
  display: flex;
  height: 1px;
  width: 100%;
  background-color: rgb(0, 175, 175); 
  grid-column: span 21;
  grid-row: 21;
  align-self: flex-end; 
}

#header-container {
  display: grid;
  flex-direction: column;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 1 / 21;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20,1fr);
  background-color: var(--header-bg);
}

.sidebar-container {
  grid-row: 2 / 11;
  grid-column: 1 / 4;
  min-width: 190px;
  border-right: 1px solid var(--fifth-color);
}

#h2, #h3 {
  font-size:30px;
  letter-spacing: -0.075em;
  min-height: 80px;
  grid-column: span 11;
  border-bottom: 1px solid var(--fifth-color);
  background-color: var(--sixth-color);
}

#h2 {
  grid-row: 1/3;
}

#h3 {
  grid-row:11/13;
  display: flex;
  justify-content: center;
  align-items: center;
}


#project-container, .home-container {
  display: flex;
  flex-direction: column;
  gap: 1%;
  grid-column: 1/11;
}

#add-container {
  display: flex;
  gap: 0%;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid var(--secondary-color);
}

#add-container.active:hover {
  background-color: white;
  scale: 1;
}

#add-container:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  scale: 1.05;
}

#add-btn {
  width: 30px;
  height: 30px;
  background-image: url('icons/plus-box.svg');
  cursor: pointer;
}

#cancel-btn {
  width: 30px;
  height: 30px;
  background-image: url('icons/close-box.svg');
  cursor: pointer;
}

#add-btn:hover, #cancel-btn:hover {
scale: 1.1;
}

#projectInput {
  padding: 10px;
  height: 42px;
  width: 0px;
  outline-style: none;
  font-size: 20px;
  transition: width 1s;
}

#projectInput.focus {
  width: 100%;
}

input[type="text"] , textarea {
  height: 20px;
  box-shadow: inset 1px 1px 5px rgba(46, 43, 43, 0.425);
  border-style: none;
}

.sidebarProjectsContainer {
  display: flex;
  width: 100%;
}

.addedProjects {
  display: flex;
  flex: 1;
  justify-content: center;
  border-bottom: 1px solid var(--secondary-color);
  background-color: white;
}

.addedProjectsClicked {
  display: flex;
  flex: 1;
  justify-content: center;
  border-bottom: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
}

.addedProjects:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.projectInfoContainer {
  width: 100%;
  height: 10%;
  background-color: var(--sixth-color);
}

.titleBtnContainer {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  border-bottom: 1px solid var(--fifth-color);
  background-color: var(--highlight);
}

.titleBtnContainer p {
  font-size: 24px;
  letter-spacing: -0.080em;
  font-weight: 600;
  font-style: oblique;
  color: rgba(26, 26, 26, 0.801);
  margin-left: 5%;
}

#sidebar-icon {
  position: absolute;
  margin: 0;
  left: 1%;
}

#todotxt {
 color: var(--primary-color);
}

.sidebar-container.open{
  grid-row: 0;
}


.icons {
  width: 50px;
  height: 40px;
  margin-left: 4%;
}

.options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
  font-style: oblique;
  color: rgb(75, 75, 75);
  letter-spacing: 0.05em;
  background-color: white;
}

.optionsClicked {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
  font-style: oblique;
  color: rgb(75, 75, 75);
  letter-spacing: 0.05em;
  background-color: var(--secondary-color) ;
}

.options:hover {
  background-color: var(--secondary-color) ;
  cursor: pointer;
}

#main-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  grid-column: 4/21;
  grid-row: 2/11;
  background-color: var(--sixth-color);
  z-index: 1;
}


#main-body.main-body-full {
  flex-direction: column;
  flex: 1; 
  grid-column: 1/21;
  grid-row: 2/11;
}


#startertxt p {
  margin-left: 10%;
  margin-top: 20%;
  font-size: 24px;
  opacity: 40%;
  letter-spacing: 0.1em;
}

#startertxt:hover, h1:hover {
  cursor: default;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

#h2, #header-top {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-top {
  justify-content: center;
  position: relative;
  grid-row: 1/19;
  grid-column: 1/21;
}

#toggle {
  position: absolute;
  right: 2%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

#placeholder-txt {
  display: flex;
  justify-content: center;
}

.stars i {
  color: #d8d8d8;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.4s ease;
}
.stars i.active {
  color: #ff9c1a;
}

.addTaskBtn {
  width: 30px;
  height: 30px;
  background-image: url('icons/plus-box-two.svg');
}

.addTaskBtn:hover {
  scale: 1.1;
  cursor: pointer;
  background-image: url('icons/plus-box-two-green.svg');
}

.orderTaskBtn {
  width: 25px;
  height: 25px;
  margin-left: 3px;
  background-image: url('icons/arrow-down-bold-box.svg');
}

.orderTaskBtn:hover {
  scale: 1.1;
  cursor: pointer;
}

.taskInput {
  border: none;
  padding: 10px;
  height: 20px;
  width: 75%;
  outline-style: none;
  font-size: 20px;
}

.taskDetails {
  border: none;
  padding: 10px;
  height: 40px;
  outline-style: none;
  font-size: 16px;
  margin-top: 2%;
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  resize: none;
  width: 100%;
  background-color: var(--highlight);
}

.taskDate {
  display: flex;
  flex: 2;
  border: none;
  padding: 10px;
  height: 20px;
  outline-style: none;
  font-size: 16px;
}

.inputContainer {
  display: flex;
  width: 100%;
  margin-right: 3%;
}

.submitBtn {
  padding: 5px;
  margin: 5px;
  background-color: var(--primary-color);
  font-family: "Inter", sans-serif;
  font-weight: bold;
  border-radius: 5%;
  color: rgb(56,56,56);
}


.cancelSubmit {
  padding: 5px;
  margin: 5px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: rgb(56, 56, 56);
  border-radius: 5%;
}

.cancelSubmit:hover {
  background-color: var(--secondary-color);
}

.addTaskContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.orderByContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3%;
  height: 5%;
}

#ordertxt {
  font-style: italic;
  font-size: 20px;
}

.taskInformation {
  border-bottom: 1px solid var(--secondary-color);
  justify-content: space-around;
  padding: 2%;
}

.taskInformationAlt {
  border-bottom: 1px solid var(--secondary-color);
  justify-content: space-around;
  padding: 2%;
  background-color: rgb(240, 240, 240);
}


.taskDateContainer {
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5%;
}

.titleDateContainer {
  display: flex;
  flex: 1;
  
}

.taskNoteContainer {
  height: 0px;
}

.taskNoteContainer.open {
  display: flex;
  flex: 1;
  margin-top: 1%;
  margin-left: 5%;
  width: 100%;
  height: 2%;
}

.taskTitle {
  font-size: 24px;
}

.toggleNotes {
  height: 25px;
  width: 25px;
  background-image: url('icons/arrow-down-bold-box.svg');
}

.toggleNotes.open {
  height: 25px;
  width: 25px;
  background-image: url('icons/arrow-up-bold-box.svg');
}

.toggleNotes:hover,.toggleImportant:hover  {
  cursor: pointer;
  scale: 1.1;
}

.toggleImportant, .toggleCompleted {
  display: flex;
  justify-content: flex-start;
  height: 30px;
  width: 30px;
  margin-right: 2%;
}

.toggleCompleted:hover {
  cursor: pointer;
}

.titleToggleContainer {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 2%;
}

.taskEditContainer{
  display: flex;
  align-items: center;
}

.taskEditContainer:hover {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 8%;
  right: 2%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd; cursor: pointer;}

.show {display:block;}





